{% extends 'base.html' %}
{% load static %}
{% load chattags %}

{% block content %}

<div class="panel">
    {% load tz %}
    {% if chats.count == 0 %}
        <div class="panel panel-body">Нет ни одного начатого диалога</div>
    {% endif %}
    {% for chat in chats %}
        {% if chat.message_set.count != 0 %}
            {% with last_message=chat.message_set.last %}
                {% get_companion user chat as companion %}
                <a class="list-group-item {% if companion == last_message.author and not last_message.is_readed %}unreaded{% endif %}" href="{{ chat.get_absolute_url }}">
                    <!-- дублирование -->
                    {% if companion.photo %}
                        <img class="avatar-messages" src="{{ companion.photo.url }}" style="width: 40px; height: 50px; border-radius: 10px 10px 0 0;"></li>
                    {% else %}
                        <img class="avatar-messages" src="{% static 'no_avatar.jpg' %}" style="width: 40px; height: 50px; border-radius: 10px 10px 0 0;"></li>
                    {% endif %}
                    <div class="reply-body">
                        <ul class="list-inline">
                            <li class="drop-left-padding">
                                <strong class="list-group-item-heading">{{ companion.username }}</strong>
                            </li>
                            <li class="pull-right text-muted"><small>{{ last_message.pub_date|utc }}</small></li>
                        </ul>
                        {% if companion != last_message.author %}
                            <div>
                                <img class="avatar-rounded-sm" src="{{ last_message.author.userprofile.get_avatar }}">
                                <div class="attached-reply-body {% if not last_message.is_readed %}unreaded{% endif %}">{{ last_message.message|truncatechars_html:"200"|safe|striptags }}</div>
                            </div>
                        {% else %}
                            <div>{{ last_message.message|truncatechars_html:"200"|safe|striptags }}</div>
                        {% endif %}
                    </div>
                </a>
            {% endwith %}
        {% endif %}
        <hr>
    {% endfor %}
</div>

{% endblock %}