{% extends 'base.html' %}
{% load static %}

{% block content %}
<form class="search_box" action="{% url 'profile_user:friends' %}" method="get">
    <input type="search" type="text" name="username" placeholder="Поиск">
    <button type="submit">Найти</button>
</form>

<div class="friends_container">
    {% for f in friends %}
        <ul class="friends_box">
            {% if f.photo %}
                <li class="image-resize"><img src="{{ f.photo.url }}"></li>
            {% else %}
                <li class="image-resize"><img src="{% static 'no_avatar.jpg' %}"></li>
            {% endif %}
            <li><a href="{{ f.get_absolute_url }}"><b>{{ f.username }}</b></a></li>
            <li class="zaebal"><a href="{% url 'chat_app:create_dialog' user_id=f.id %}">Написать</a></li>
        </ul>
    {% endfor %}

    {% for f in friends %}
        <ul class="friends_box">
            {% if f.photo %}
                <li class="image-resize"><img src="{{ f.photo.url }}"></li>
            {% else %}
                <li class="image-resize"><img src="{% static 'no_avatar.jpg' %}"></li>
            {% endif %}
            <li><a href="{{ f.get_absolute_url }}"><b>{{ f.username }}</b></a></li>
            <li class="zaebal"><a href="{% url 'chat_app:create_dialog' user_id=f.id %}">Написать</a></li>
        </ul>
    {% endfor %}

    {% for f in friends %}
    <ul class="friends_box">
        {% if f.photo %}
            <li class="image-resize"><img src="{{ f.photo.url }}"></li>
        {% else %}
            <li class="image-resize"><img src="{% static 'no_avatar.jpg' %}"></li>
        {% endif %}
        <li><a href="{{ f.get_absolute_url }}"><b>{{ f.username }}</b></a></li>
        <li class="zaebal"><a href="{% url 'chat_app:create_dialog' user_id=f.id %}">Написать</a></li>
    </ul>
{% endfor %}

</div>

{% endblock %}
