{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    {% if f.photo %}
        <li class="image_resize"><img src="{{ f.photo.url }}" style="width: 320px; height: 400px; border-radius: 10px 10px 0 0;"></li>
    {% else %}
        <li class="image_resize"><img src="{% static 'no_avatar.jpg' %}" style="width: 320px; height: 400px; border-radius: 10px 10px 0 0;"></li>
    {% endif %}
    <span>{{ prof.username }}</span>
    <hr>
    <ul>
        <li><a class="little_button" href="#">редактировать</a></li><hr>
        <li><a class="little_button" href="{% url 'profile_user:add_friends' slug=prof.slug %}">Подписаться</a></li>
    </ul>
</div>
{% endblock %}