{% extends 'base.html' %}
{% load static %}
{% load prof_tags %}


{% block content %}

<div>
    <!-- дублирование -->
    {% if prof.photo %}
        <li class="image_resize"><img src="{{ prof.photo.url }}" style="width: 320px; height: 400px; border-radius: 10px 10px 0 0;"></li>
    {% else %}
        <li class="image_resize"><img src="{% static 'no_avatar.jpg' %}" style="width: 320px; height: 400px; border-radius: 10px 10px 0 0;"></li>
    {% endif %}
    <span>{{ prof.username }}</span>
    <br>
    <ul>
        <li><a href="{% url 'profile_user:friends' %}">Подписки {{ prof.friends.count }}</a></li>
        {% if prof.username == request.user.username %}
            <li><a class="little_button" href="#">редактировать</a></li><br>
        {% endif %}
        

        <a href="{% url 'chat_app:create_dialog' user_id=prof.id %}">Написать</a>


        {% exclude_signed request.user.username prof.username as exclude_signed %}

        {% if prof.username != request.user.username %}
            {% if exclude_signed %}
                <li><a class="little_button" href="{% url 'profile_user:add_friends' slug=prof.slug %}">Подписаться</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>
{% endblock %}